{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">Welcome! Great to see you!</h2>
    <div class="row">

        {% for artist in artists %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{artist.name}}</h5>
                <div class="card-body">
                    <!-- <h6 class="card-title">
                        {% if  %}
                            Ripe
                        {% else %}
                            Not Ripe
                        {% endif %}
                    </h6> -->
                    <p class="card-text">
                        The genre of {{artist.name}} is {{artist.genre}}
                    </p>
                    
                    <a href="/fruits/{{artist._id}}}}" class="btn btn-info">View {{fruit.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}